<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Profil</title>
<link href="../public/css/startseite.css" rel="stylesheet" type="text/css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.typekit.net/omr3vqe.css">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

<div id="navbar">
  <nav class="navbar navbar-inverse navbar-custom r-">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/stream"><img src="../public/images/logo.svg" width="60px"></a>
        </div>

        <ul class="nav navbar-nav">
            <a href="/upload" class="btn btn-outline-light navbar-btn">Upload</a>
        </ul>

        <ul class="nav navbar-nav navbar-left">
            <li>
            <a href="/stats">Top10</a>
            </li>
          </ul>

        <ul class="nav navbar-nav navbar-left">
          <li><a href="/viewAccount"><span class="glyphicon glyphicon-user"></span> Profil</a></li>
        </ul>

         <ul class="nav .btn-info navbar-nav navbar-right">
          <li><a href="/logout">Logout</a></li>
        </ul>






      </div>
    </nav>
    </div>



    <div class="container2">

    	<h1 name="profilName" class="tk-balboa-plus-fill">Hans</h1>

    </div>

    <div class="container2 ai">
		<img name="myFridge" class="displayed1" width="40%" src="../images/schimmel-kuehlschrank-knick.jpg">
		<p name="rank" class="tk-balboa-plus-fill">Ranking: </p>


    </div>

    <div class="container2">
		<a href="/password">Change Password</a> <br>
    	<a href="/delete">Delete Account</a>
    </div>
</body>
</html>
