<!DOCTYPE HTML>
<html>
<head>
  <title>Upload</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="public/rating/stars.css">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
   <!-- NavBar --> 
   <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/stream">RateMyFridge</a>
        </div>
        <ul class="nav navbar-nav">
            
            <a href="/upload" class="btn btn-danger navbar-btn">Upload</a>           
        </ul>
        <ul class="nav navbar-nav navbar-left">
            <li><li><a href="/stats">Top10</a></li></li>
          </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/viewAccount"><span class="glyphicon glyphicon-user"></span> Profil</a></li>
        </ul>
      </div>
    </nav> 
  <div class="container">
  <h1>Select Image<h1>
    		<form action="/commitUpload" name="/commitUpload" enctype="multipart/form-data" method="post">
    			<input type ="file" id="uploadFile" name="uploadFile"><br>
    			<input type ="text" name="description"><br>
          <button type="submit">Upload</button>
        </div>
      </body>
      </html>
