<!DOCTYPE HTML>
<html>
	<head>
		<title>Auswertung</title>
	</head>
	<body bgcolor=orange>
	<body>
		<h1>
		
		Artikelliste: <br>
		 
	


		<table border=4>
		<tr>
		
			
			
			 <td><%= products%></td>
				
				
		</tr>
			
			
		</table>
		
			
		<form action="/" method="get">
			<button type="submit">Neuen Benutzer registrieren</button>
			
		</form>
		
		<form action="/delete" method="post">
			User ID: <input type="text" name="id" /><br>
			
	
			<button type="submit">User löschen</button>
		</form>
		</h1>
	</body>
</html>