<!DOCTYPE HTML>
<html>
	<head>
		<title>Auswertung</title>
	</head>
	<body bgcolor=orange>
	<body>
		<h1>
		
		
		<%= richtigername%><br>
		 <a href="/">Neuer Versuch</a>
		
		</h1>
	</body>
</html>